target/*
!target/aarch64-unknown-linux-musl/
target/aarch64-unknown-linux-musl/*
!target/aarch64-unknown-linux-musl/release/
target/aarch64-unknown-linux-musl/release/*
!target/aarch64-unknown-linux-musl/release/stock_crawler
.git/
*.log
node_modules/
.idea/
.vscode/
.DS_Store
*.tmp
